.namefont{
    font-family: 'Great Vibes', cursive;
}

.splashfont{
    font-family: "Pacifico", cursive;
}

.btn-color{
    background: linear-gradient(90deg, #00aaff, #ff7a59);
    color: white;
}

/* bg-gradient-to-r from-[#00aaff] to-[#ff7a59] */